.topContainer{
  display: table-cell;
  width: 100%;
  height: 100vh;
  vertical-align: middle;
  text-align: center;
  padding-right: 80px;
  padding-left: 80px;
}

.imageHolder {
  display: inline-block;
}

.myName {
  font-family: Segoe UI;
  color: AliceBlue;
}

.aboutMe{
  font-family: Segoe UI;
  color: AliceBlue;
}

.myPicture {
  max-width: 75%;
  height: auto;
}

.cardContainer {
  text-align: center;
  margin: auto;
  width: 50%

}

.cardTitle{
  font-family: Segoe UI;
  color: AliceBlue;
}

body{
  background-color: DarkSlateBlue;
  margin-bottom: 50px;
}

h3{
  font-family: Segoe UI;
  color: AliceBlue;
}

h1{
  font-family: Segoe UI;
  color: AliceBlue;
}
a{
  font-family: Segoe UI;
  color: AliceBlue;
}

ul{
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto;
  text-align: center;
}

li{
  font-family: Segoe UI;
  color: AliceBlue;
  margin: 0 0 10px 0;
}

label{
  font-family: Segoe UI;
  color: AliceBlue;
}
p{
  font-family: Segoe UI;
  color: AliceBlue;
}

.parent {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-style: solid;
  border-color: AliceBlue;
  border-radius: 30px;
  text-align: center;
}
.parent > ul {
  display: inline-block;
}

input{
  margin: 0 0 10px 0;
}
textarea{
  resize: none;
  margin: 0 0 10px 0;
}

label{
margin: 0 0 10px 0;
}
