* {
  box-sizing: border-box;
}

:root {
  --nav-width: 15vw;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
}

.navText{
  text-decoration: none;
}

section {
  display: table;
  display: block;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.topContainer {
  display: table-cell;
  width: 100%;
  height: 100vh;
  vertical-align: middle;
  text-align: center;
  padding-right: 80px;
  padding-left: 80px;
}

nav {
  position: fixed;
  left: 0;
  width: var(--nav-width);
  height: 100vh;
  padding: 2em;
  background: #333;
  color: AliceBlue;
  display: block;
}

.linkList {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto;
  text-align: center;
}

.navLink {
  font-size: 1vw;
  margin: 0 0 50px 0;
}

.imageHolder {
  display: inline-block;
}

.myName {
  font-family: Segoe UI;
  color: AliceBlue;
}

.aboutMe {
  font-family: Segoe UI;
  color: AliceBlue;
}

.myPicture {
  max-width: 75%;
  height: auto;
}

.projects{
  max-width: 40vh;
  height: auto;
}

.projectTable{
  border-spacing: 5vh;
  border-collapse: separate;
}

.cardContainer {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  margin: auto;
  width: 60%;
}

.cardTitle {
  font-family: Segoe UI;
  color: AliceBlue;
}

body {
  background-color: DarkSlateBlue;
  margin-bottom: 50px;
  padding-left: var(--nav-width);
}

h3 {
  font-family: Segoe UI;
  color: AliceBlue;
  font-size: 1vw;
}

.cardList {
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto;
  text-align: center;
}

.cardItem {
  text-decoration: none;
  font-size: .7vw;
  margin: 0 0 20px 0;
}

a {
  font-family: Segoe UI;
  color: AliceBlue;
  font-size: 1vw;
}
a:hover{
  cursor: pointer;
}

h2{
  font-family: Segoe UI;
  color: AliceBlue;
  font-size: 2vw;
}

h1 {
  font-family: Segoe UI;
  color: AliceBlue;
  font-size: 3vw;
}

li {
  font-family: Segoe UI;
  color: AliceBlue;
}

label {
  font-size:1.5vw;
  font-family: Segoe UI;
  color: AliceBlue;
  padding-right: 10px;
}

p {
  font-family: Segoe UI;
  color: AliceBlue;
  font-size: 1vw;
}

.parent {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-style: solid;
  border-color: AliceBlue;
  border-radius: 30px;
  text-align: center;
}
s
.parent>ul {
  display: inline-block;
}

table{
  margin-left: auto;
  margin-right: auto;
}
td{
  font-size: 1vw;
}

input[type=text], select, textarea {
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize:vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=email], select, textarea {
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

textarea{
  font-family: Segoe UI;
  font-size: 1vw;
}

input[type=submit] {
  background-color: white;
  color: DarkSlateBlue;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input {
  margin: 0 0 20px 0;
}

textarea {
  margin: 0 0 20px 0;
}

label {
  margin: 0 0 10px 0;
}
